body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.header {
    display: flex; /* sets container to be a flexbox element */
    justify-content: right; /* aligns items horizontally */
    font-size: 1.5rem;
    background-color: #cb6015;
    width: 100%; /* extends the width of the header container to the full length */
}

.main-nav {
    display: flex;
    list-style: none; /* removes the dots from the ul */
}

li {
  margin: 0 10px;
  
}
